.static-example .positioned-element {
    background-color: green;
    left: 100px;
}

.relative-example .positioned-element {
    background-color: lightblue;
    z-index: -1;
    position: relative;
    left: 100px;
    top: 50px;
}

.absolute-example .positioned-element {
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;
}

.absolute-example {
    position: relative;
}

.fixed-example .positioned-element {
    position: fixed;
    z-index: 9999;
    background-color: purple;
    top: 0;
    left: 0;
    width: 100%;
}

.sticky-example .positioned-element {
    top: 50px;
    background-color: orange;
    position: sticky;
}