body {
    background-color: lightsteelblue;
    text-align: center;
  }
  h1{
    font-size: 60px;
    font-family: cursive;
    text-align: center;
}
    

h2 {
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}
p {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif
    font-size 20px;
    align-content: flex-end;
    text-align: center;
}
img{
    text-align: center;
}
